<div class='container'>
<h1>Countries#show</h1>
<p>Find me in app/views/countries/show.html.erb</p>
<h2><%=@Show_country.name%>'s country code is <%= @Show_country.code%>. </h2>
<h3>Citizens in <%=@Show_country.name%> - </h3>
<ul> 
    <% @Show_country.citizens.each do |kiki| %>
        <li> <%= kiki.name %> </li>
    <% end %>
</ul>
</div>